
*{  
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgba(4, 48, 158, 0.822);
    text-align: center;

    &__div-1--titulo {
        background-color: rgb(246, 12, 59);
    }


}

.sapn-1{
    background-color: rgb(186, 65, 87);
    margin-left: 85%;
    padding: 0.5%;
    border-radius: 5%;
}

.main{

    padding: 5%;
    background-color: rgb(247, 226, 226);
  
}

.div-principal{
    width:100%;
    height: 100%;
    margin-bottom: -3%;

    &__div {
        width: 100%;
        height: 100%;
        position: relative;

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 1%;
        }
    }

    &__div--text {
        position: absolute;
        color: darkorange;
        font-size: xx-large;
        margin-top: -20%;
        width: 50%;
        padding: 2%;
       
    }


    &__div--span{

        margin-left: 94.8%;
        background-color: crimson;
        color: white;
        width: 10%;
        height: 10%;
        padding: 1%;
        font-size: x-large; 
        margin-left: 80%;
    }

    &__div--text__span{
        margin-left: 94.8%;
        background-color: crimson;
        color: white;
        width: 10%;
        height: 10%;
        padding: 1%;
    }
    
}

.div-uno{
    display: flex;
    justify-content: center;
    padding: 10%;
    padding-bottom: 10%;
    gap: 2%;

}

.div-padre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 2%;
    margin-bottom: -20%;

    &__div-img{
        width: 100%;
        height: 100%;

    }

    &__div-img-img{
        width: 100%;
        height: 60%;
        
    }

    &__div-text{
        width: 99%;
        text-align: justify;
        margin-top: -13%;
        line-height: 100%;
        border:dashed;
        border-color:rgb(29, 26, 22);
       padding-bottom: 1%;
    
    }

    &__div-text__h2{
        background-color: rgb(195, 104, 86);
        padding: 2%;
    }

    &__div-text__p{
        background-color: white;
    }
   
}

a{
    text-decoration: none;
    cursor: pointer;
}